<!DOCTYPE html>
<html>

<head>
    <title>MENU</title>
</head>

<body>
    <div style="text-align:center;" id="elem">
    </div>
    <script src="./pdf.js"></script>

    <script>
        //   var loadingTask = pdfjsLib.getDocument('./<%= fileName %>');
        var loadingTask = pdfjsLib.getDocument('./<%= fileName %>');

        renderPDF()

        function renderPDF() {
            loadingTask.promise.then(function (pdf) {
                for (let i = 1; i <= pdf.numPages; i += 1) {
                    console.log('xxx')
                    const canvas = document.createElement('canvas');
                    /* This indentify the canvas as the location of the page */
                    canvas.id = i;
                    document.getElementById('elem').appendChild(canvas);
                    pdf.getPage(i).then((page) => {
                        renderPage(page, canvas);
                    })
                }
            });
        }

        function renderPage(page, canvas) {
            const viewport = page.getViewport({ scale: 1, });
            const canvasContext = canvas.getContext('2d');
            const renderContext = {
                canvasContext,
                viewport
            };
            canvas.height = viewport.height;
            canvas.width = viewport.width;
            page.render(renderContext);
        }
    </script>
</body>

</html>