<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="POST" action="/" enctype="multipart/form-data">
      <input name="file" type="file" required="true">
      <input type="submit">
    </form>
  </body>
</html>
