<!DOCTYPE html>
<html>

<head>
    <title>MENU</title>
</head>

<body>
    <script>
        window.open(`http://localhost:3000/files?fileName=<%= fileName %>`);
        window.close();
    </script>
</body>

</html>